* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  max-width: 80vw;
  margin: auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

ul {
  display: flex;
  list-style: none;
  flex-wrap: wrap;
}

li {
  border: 1px solid black;
  height: 80px;
  width: 80px;
  flex: calc(100% / 3);
}
